name: Publish
on:
  workflow_dispatch:
  pull_request_target:
    branches:
    - main


jobs:
  publish:
    env:
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        npm install netlify-cli -g
    - name: Make top level
      run: make -C src html
    - name: Assemble site
      run: |
        python scripts/site.py build
        cp -r src/_build/html/* dist
    - name: Publish to development on PR
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        netlify deploy --dir=dist --site=oneapi-spec
    - name: Publish to production with manual trigger
      if: ${{ github.event_name == 'workflow_dispatch' }}
      run: |
        netlify deploy --dir=dist --site=oneapi-spec --prod




